<h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 40px" class="log">Registro</h2>
    <br>
<form (submit)="RegUsu($event)" class="log">

    <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" name="usu" id="usu"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        />
        <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div> -->
    </div>
    <div class="form-group">
        <label for="username">Email</label>
        <input type="email" name="email" id="email"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        />
        <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div> -->
    </div>

    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" name="psw" id="psw"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div> -->
    </div>
    <div class="form-group">
        <button  class="button is-primary">Registrar</button>
        <a [routerLink]="['/']" class="btn btn-link">Cancelar</a>
    </div>
</form>