<div class="">
    <!-- <h1>Serpientes y Escaleras</h1> -->
    <h2> <font style="font-family: cursive; left: 45px;" color="Lime">{{usuario.nombre}}</font> / <h2 style="display: inline-block"> <font style="font-family: cursive"  color="red">{{partida.retador}}</font> / <a class="">{{partida.partida}}</a></h2> </h2> 
    <br>
    <div style="display: inline-block" class="tablero">
    
        <section *ngFor="let renglon of celdas.reverse(); index as i;">
            <div *ngFor="let c of renglon;" class="celda">
                <div *ngIf="c.numero== this.partida.ficha1.posicion" class="ficha1"></div>
                <div *ngIf="c.numero== this.partida.ficha2.posicion" class="ficha2"></div>
            </div>
        </section>
        
    </div>

    <button   style="font-size: 35px; width: 50px; height:50px;" class="btn btn-info" (click)="clickrandom()" id="dice">{{dado}}</button>
    <div style="display: inline-block"  id="side1">
    </div>
        
    <table>
        <tr> 
            <th>Ganadas</th>
            <th>Perdidas</th>
        </tr>
        <tr>
            <th>{{this.usuario.ganadas}}</th>
            <th>{{this.usuario.perdidas}}</th>
        </tr>      
    </table>
</div>

<div *ngIf="modal" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <!-- Any other Bulma elements you want -->
      <h4>{{texto}}
      </h4>
    </div>
    <button (click)='modal=false' class="modal-close is-large" aria-label="close"></button>
  </div>
  
  
