<h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 40px" class="log">Login</h2>
<br>
<form  (submit)="onSubmit($event)" class="log">
    <div class="form-group field">
        <label for="username">Usuario</label>
        <input type="text" id="usu" name="usu" class="form-control" />

        <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div> -->
    </div>
    <div class="form-group field">
        <label for="password">Contraseña</label>
        <input type="password" id="psw" name="psw"  class="form-control"/>
        
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button  [disabled]="loading" class="button is-primary modal-button">Login</button>
        <a [routerLink]="['/Registrarse']" class="btn btn-link">Registrarse</a>
    </div>
    <!-- <div *ngIf="error" class="alert alert-danger">{{error}}</div> -->
</form> 
<!-- <button class="button is-primary is-large modal-button" data-target="modal" aria-haspopup="true">Launch example modal</button> -->
<div *ngIf="modaal" class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <h4>Datos Incorrectoss</h4>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

