<div class="container">
	<div id="login-box">
		<div class="logo">
			<h1 class="logo-caption">
				<span class="tweak">L</span>ogin</h1>
		</div>
		<!-- /.logo -->
		<div class="controls">
			<form (submit)="loginUser($event)">
				<input type="text" name="usu" id="usu" placeholder="Usuario" class="form-control" />
				<input type="text" name="psw" id="psw" placeholder="Cotraseña" class="form-control" />
				<br>
				<input type="submit" value="submit" class="btn btn-default btn-block btn-custom" placeholder="Login">
			</form>
			<br>
			<button routerLink="Registrarse" type="button" class="btn btn-default btn-block btn-custom">Registrarse</button>
		</div>
		<!-- /.controls -->
	</div>
	<!-- /#login-box -->
</div>
<!-- /.container -->
<div id="particles-js">
</div>